BODY
{
	PADDING-RIGHT: 0PX;
	PADDING-LEFT: 0PX;
	PADDING-TOP: 0PX;
	PADDING-BOTTOM: 0PX;
	MARGIN: 0px 0px 0px 0px;
	font: 80% 'Lucida Sans Unicode', hevetica, sans-serif;
	color:#cccccc;
	letter-spacing: 1px;
	BACKGROUND-COLOR: #000000;
	text-align:center;
	BACKGROUND-IMAGE: url("../images/wallBg.jpg");
	BACKGROUND-REPEAT: no-repeat;
	background-position: center 0px;
}

#content
{
    width:800px;
}

#borderLine
{
    margin: 30px auto 0px auto;
    border: 1px solid #333;
    width: 800px;
}


#container
{
	margin: 0 auto;
	width: 800px;
}


#content-container
{
	float: left;
	width: 800px;
	text-align:justify;
	font-size:12px;
}

#left
{
	clear: left;
	float: left;
	width: 350px;
	padding: 20px 0;
	margin: 0 0 0 30px;
	display: inline;

}

#right
{
	float: right;
	width: 350px;
	padding: 20px 0;
	margin: 0 20px 0 0;
	display: inline;
}




#imgHome
{
    background: url("../images/home.jpg") no-repeat;
	width:91px;
	height:33px;
	MARGIN: 0px 0px 0px 0px;
	top:58px;
	left:-305px;
	position: relative;
	z-index: 5;
	cursor: pointer;
}

#imgActivities
{
    background: url("../images/activities.jpg") no-repeat;
	width:162px;
	height:34px;
	MARGIN: 0px 0px 0px 0px;
	top:25px;
	left:-115px;
	position: relative;
	z-index: 5;
	cursor: pointer;
}

#imgRegistration
{
    background: url("../images/registration.jpg") no-repeat;
	width:214px;
	height:33px;
	top:-6px;
	left:98px;
	position: relative;
	z-index: 5;
	cursor: pointer;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

#imgMap
{
    background: url("../images/hotel.jpg") no-repeat;
	width:173px;
	height:29px;
	MARGIN: 0px 0px 0px 0px;
	top:-34px;
	left:314px;
	position: relative;
	z-index: 5;
	cursor: pointer;
}


.tableHeader
{
    text-align:center;
    font-weight: bold;
    color: #c50808;
    padding-bottom: 5px;
    border-bottom: solid 1px #ffffff;
    font-size: 13px;
}

.tableHeader2
{
    text-align:left;
    font-weight: bold;
    color: #c50808;
    padding-bottom: 5px;
    font-size: 13px;
}

.subTotal
{
    text-align:left;
    font-weight: bold;
    color: #ffffff;
}

 .colorRow
 {
    background-color: #999999;
 }

#Logo
{
  text-align:left;
  font-size: 40px;
  margin-bottom: 10px;
  margin-left:80px;
  letter-spacing:8px;
}

.lName
{
    color:#F87431;
}

.btn
{
    height: 30px;
    cursor: pointer;
}
/* NAVBAR **********************************************************************************/
#navigation {
	float: right;
	height: 19px;
	/*background: url(../images/sBack.jpg) repeat-x top;*/
	margin: 2px 20px 0 0;
	padding-bottom: 60px;
	padding-top:4px;
	font-family: Verdana;
	font-size: 11px;
	color: #555555;
	position: relative;
}

#navigation ul {
	list-style: none;
	margin: 3px 0 0 0;
	padding: 0;
}

#navigation li {
	display: inline;
	float: right;
}

#navigation li a:link, #navigation li a:hover, #navigation li a:active, #navigation li a:visited {
	/*background: url(../images/icn_orange_block.gif) left no-repeat;
	background-position: 0px -2px;*/
	padding: 0 10px 0 14px;
	margin-right: 20px;
	text-decoration: none;
	font-family: Verdana;
	font-size: 11px;
}

#navigation li a{
	display:block;
}

#navigation li a:link, #navigation li a:visited {
   color: #444;
}

#navigation li a:hover {
	/*background-position: 0 -21px;*/
	color: #F87431;
}

#navigation li a.currPage {
	/*background: url(../images/global/icn.navbar.currpage.gif) no-repeat;
	background-position: 0 1px;*/
	padding: 0 10px 0 22px;
	margin-left: -8px;
	font-weight: bold;
}

#navigation li ul {
	padding-top:5px;
	position: absolute;
	text-align:left;
	left: -999em;
	background-color:#F6F6F6;
	color:#646463;
	border-bottom:3px #d8d8d8 solid;
	font-size:11px;
	width:120px;
	/*background:#FFF url(../images/sBack.jpg) repeat-x top;*/
}

#navigation li ul li{
	clear:both;
	border-bottom:1px solid #eaeaea;
	padding:6px 0 6px 4px;
	width:100%;
	margin:0;
}

#navigation li ul li a{
	color:#4b4b4b;
	text-decoration:none;
	font-weight:normal;
	background:0 none;
	padding:0;
}

#navigation li ul li a:hover{
	font-weight:normal;
	background:0 none;
	/*color:#E56717;*/
	color:#F87431;
}

.dropMenu{
	background:0 none;
}

#navigation li ul li.lastLine{
	border:none;
}

#navigation li ul ul {
	margin: -1em 0 0 10em;
}

#navigation ul {
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
}

#navigation li:hover ul ul, #navigation li.sfhover ul ul {
	left: -999em;
}

#navigation li ul ul li {
	float:left;
	width:100px;
	clear:none;
	margin-right:10px;
}

#navigation li:hover ul, #navigation li li:hover ul, #navigation li.sfhover ul, #navigation li li.sfhover ul {left: auto;}
/***********************************************************************************************/


A, A:visited
{
	color:#bd5139;
}

A:hover, A:active
{
	TEXT-DECORATION: none;
}

#xText
{
    font-size:12px;
    padding: 0px 30px 20px 30px;
    text-align:justify;
}

.xHT
{
    font-size:12px;
}

#xTitle
{
    font-size:large;
    padding: 0px 30px 10px 30px;
    text-align:left;
    font-weight: bold;
    color: #c50808;
}


#logoImage
{
	background: url("../images/twistoffpatchsm.jpg") no-repeat center;
	width:286px;
	height:286px;
	MARGIN: 0px 0px 0px 0px;
	top:0px;
	left:0px;
	position: relative;
	z-index: 5;
}


#divide
{
    font-size:12px;
    padding:30px;
    text-align:justify;
}

#divide ul
{
    list-style:none;
    margin: 0 0 0 0;
    text-align: left;
}

#divide li
{
    display:inline;
    padding-bottom:0px;
}

#divide ul li.lSide
{
    width:350px;
    float:left;
}

#divide ul li.rSide
{
    width:350px;
    float:right;
}

#footer
{
    margin-top:3px;
    font-size: 10px;
    text-align:right;
    color: #333;
    padding-bottom:10px;
}
